<header>
    <div id="fakelogo">
        <h1>Weather App</h1>
    </div>
    <div id="navbar">
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/weather">Weather</a></li>
        </ul>
    </div>
</header>